body{
    background-color: beige;
}

h1 {
    text-align: center;
    color: maroon;
}

/* ! NAVBAR tags *************** */

.navbar {
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
    padding: 10px;
    background-color: maroon;
    border: solid black 2px;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    color: maroon;
    text-align: center;
}

.lists {
    position: relative;
    left: 50px;
}

.lists ul, .lists ol {
    border: solid maroon 2px;
    display: inline-block;
}

img {
    border-radius: 30%;
    position: absolute;
    right: 150px;
    top: 60px;
}

.lorem-text {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    top: 0px;
}

.got-table {
    position: relative;
    top: 0px;
    margin: auto;
}

.got-table td, .got-table th{
    border: solid maroon 2px;
}

.fav-pizza {
    position: relative;
    top: 0px;
}

video {
    position: absolute;
    top: 560px;
    right: 75px;
}

form p {
    font-weight: bold;
    color: maroon;
}

.author {
    font-weight: bold;
}
